@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Fredoka", sans-serif;
}
:root {
  --primary-color: #112240;
  --secondary-color: #00ffb7;
  --drama-list-bg: #b3ffe954;
}
.App {
  max-width: 60%;
  margin: auto;
  text-align: center;
}
.header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 1.5rem;
  font-size: 1.5rem;
}
.header div {
  color: white;
}
.section .btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin: 2rem 1rem;
  border-radius: 0.7rem;
  padding: 0.3rem;
  font-size: 1rem;
  font-weight: 400;
  padding: 1rem;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}
.list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.list-item {
  width: 60%;
  padding: 1rem 0.5rem;
  border: 2px solid var(--primary-color);
  border-bottom: 4px solid var(--primary-color);
  background-color: var(--drama-list-bg);
  color: var(--primary-color);
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}
.list-name {
  font-size: 1.2rem;
  font-weight: 700;
}

.list-rating {
  font-weight: 500;
  margin-top: 0.2rem;
  font-size: 1rem;
}
.footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 1.5rem;
  font-size: 1.5rem;
  font-weight: 300;
}
.footer p {
  font-size: 1.4rem;
  color: white;
}
